.button-container {
	position: relative;
}

.button-container.aligncenter {
	text-align: center;
}

.button-custom, .phone-button, .arrow-button, .outline-button, .email-button, .contact-button, .gold-button, .white-button, .share-this {
	display: inline-flex;
	padding: .8rem 1.2rem;
	background-color: #4D545E;
	text-decoration: none;
	color: #fff !important;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	/* 109.091% */
	letter-spacing: 1.76px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}

.email-button, .phone-button {
	background-color: #FFFFFF;
	color: #4D545E !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.button-custom:hover,
.phone-button:hover,
.arrow-button:hover,
.email-button:hover,
.outline-button:hover {
	cursor: pointer;
	color: #fff !important;
	background-color: #3C3E40;
}

.arrow-button {
	font-size: 21px;
	font-weight: 700;
	color: #334252 !important;
	background-color: inherit;
	text-transform: none;
	padding-left: 0;
	padding-right: 0;
}

.arrow-button:hover {
	font-size: 21px;
	font-weight: 700;
	color: #334252 !important;
	background-color: inherit;
	text-transform: none;
	padding-left: 0;
	padding-right: 0;
}

.outline-button {
	background-color: unset;
	border: 1px solid #4D545E;
	margin-bottom: 10px;
}

.outline-button a {
	text-decoration: none;
}

.gold-button {
	background-color: #E0BA5C;
}

.white-button, .share-this {
	background-color: #FFFFFF;
	color: #4D545E !important;
}

.white-button:hover, .share-this:hover {
	background-color: #3C3E40;
	color: #FFFFFF !important;
}

.gold-button:hover {
	background-color: #CDA236;
	color: #FFFFFF !important;
}

.icon-link {
	position: relative;
}

.svg-icon {
	display: inline-block;
	width: 18px;
	/* adjust as per your SVG's size */
	height: 18px;
	/* adjust as per your SVG's size */
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	/* top: 50%; */
	left: auto;
	/* transform: translateY(-50%); */
	filter: brightness(0) invert(1);
}

.contact-button {
	padding-left: 2rem;
	padding-right: 2rem;
}

.arrow-button {
	padding-right: 55px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

.arrow-button .svg-icon {
	right: 10px;
	left: unset;
	position: absolute;
	top: 50%;
	left: auto;
	transform: translateY(-50%);
	margin-top: 2px;
	background-size: 26px;
	width: 30px;
	filter: none;
}

.phone-button {
	padding-left: 20px;
}

.email-button .svg-icon {
	margin-right: 8px;
	top: 3px;
}

.phone-button .svg-icon, .email-button .svg-icon {
	width: 22px;
	height: 22px;
	filter: none;
}

.phone-button .svg-icon {
	margin-right: 8px;
}

.email-button:hover .svg-icon, .phone-button:hover .svg-icon {
	filter: brightness(0) invert(1);
}

.icon-link.right .svg-icon {
	left: unset;
	right: 10px;
}

.icon-link.right {
	padding-right: 37px;
}

.icon-link.left {
	padding-left: 37px;
}

@media (max-width:992px) {
	/* .button-custom, .phone-button, .arrow-button, .email-button, .outline-button, .icon-link.right, .icon-link.left {
		padding: 16px 30px;
	} */
}