/*Floor Plans*/
.floor-plans {
	padding: 2.5rem 0;
}

.floor-plans--heading {
	text-align: center;
}

.floor-plans--subheading {
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 109.091% */
	letter-spacing: 1.76px;
	text-transform: uppercase;
	padding-top: 2rem;
}

.floor-plans--subheading span {
	font-size: 22px;
	color: #aeccd3;
	font-weight: 700;
	display: inline-block;
	padding-top: .5rem;
}

.floor-plans--grid {
	margin: auto;
}

@media only screen and (min-width: 1024px) {
	.floor-plans--grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1.5rem;
	}
}

.floor-plans--plan {
	border: 1px solid #D3D5D6;
	padding: 0 1.25rem;
	text-align: center;
	position: relative;
	padding-bottom: 70px;
	margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
	.floor-plans--plan {
		margin-bottom: 0rem;
	}
}

.floor-plans--thumbnail {
	max-width: 13.25rem;
	margin: 1rem auto 0.9375rem;
}

.floor-plans--price-number {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.625rem;
	margin-bottom: -0.25rem;
	color: #BF6B33;
}

.floor-plans--price-label {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	letter-spacing: .22rem;
}

.floor-plans--beds, .floor-plans--feet {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	padding-top: 10px;
}

.floor-plans--cta {
	margin-left: -1.25rem;
	margin-right: -1.25rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.floor-plans--cta .button {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	padding: 0.5375rem;
	color: #fff;
	background-color: #334252;
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 109.091% */
	letter-spacing: 1.76px;
	text-transform: uppercase;
}

.floor-plans--cta .button:hover {
	background-color: #4D4D4D;
}

.floor-plans .js-tablist {
	border-top: 1px solid #D3D5D6;
	border-bottom: 1px solid #D3D5D6;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	justify-content: center;
}

.floor-plans .esl-tabs-tabs__content {
	padding: 2.5rem;
}

.floor-plans .js-tablist__item {
	border: 0;
	flex-grow: 0;
}

.floor-plans [aria-selected="true"].esl-tabs-tabs__link {
	background: #ffffff;
	border-bottom: 2px solid #D25229;
	color: #D25229;
}