$charcoal: #4D545E;
$blue: #86A5A9;
$blue-dark: #617E82;
$gold: #E0BA5C;
$hover: #804E0E;
$beige: #F2F0E8;
$primary: $charcoal;
$white: #FFFFFF;
$black: #000000;
$rust: #BF6B33;
$dark-navy: #334252;
$dark-gray: #4D4D4D;


.has-white-background-color {
  background: $white!important;
}

.has-black-background-color {
  background: $black!important;
}

.has-blue-background-color {
  background: $blue!important;
}

.has-charcoal-background-color {
  background: $charcoal!important;
}

.has-beige-background-color {
  background: $beige!important;
}

.has-gold-background-color {
  background: $gold!important;
}

.has-dark-navy-background-color {
  background: $dark-navy!important;
}

.has-rust-background-color {
  background: $rust!important;
}

.has-white-color {
  color: $white;
}

.has-black-color {
  color: $black;
}

.has-blue-color {
  color: $blue;
}

.has-beige-color {
  color: $beige;
}

.has-charcoal-color {
  color: $charcoal;
}

.has-gold-color {
  color: $gold;
}

.has-dark-navy-color {
  color: $dark-navy;
}

.has-dark-gray-color {
  color: $dark-gray;
}

.has-rust-color {
  color: $rust;
}
